<form class="signupform" {{action 'navUser' on="submit"}}>
  {{input class="form_elements" type="text" value = EnteruserName placeholder="Name"}}<br>
  {{input class="form_elements" type="text" value = EnteruserEmail placeholder="Email"}}<br>
{{input class="form_elements" type="text" value = userPhone placeholder="Phone Number"}}<br>
  <button class="form_btn" type="submit">SIGNUP WITH LINKEDIN</button><br>
</form>