<form class="signupform" {{action 'createUser' on="submit"}}>
  {{input class="form_elements" type="text" value = userName placeholder="Name"}}<br>
  {{input class="form_elements" type="text" value = userEmail placeholder="Email"}}<br>
  {{input class="form_elements" type="password" value = userPassword placeholder="Password"}}<br>
  <button class="form_btn" type="submit">Sign up</button>
</form>